/*navbar*/

.navbar {
    box-shadow: 0 20px 50px rgba(0, 0, 255, 0.1);
    color: rgba(255, 0, 0, 1);
    padding-bottom: 0px;
}

.bg-light {
    background-color: white!important;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color: #A58861;
    transform: scale(1.1);
    transition: 0.3s;
}

.brands {
    font-family: 'Satisfy', cursive;
    font-size: 40px;
}

.col-4 {
    background-color: white!important;
}

.col-4 h1 {
    padding-top: 5%;
    padding-bottom: 5%;
}

.body {
    margin-top: 75px;
}

.hex {
    background-color: white;
    padding-top: 40%;
}

.body h3 {
    color: rgba(25, 26, 30, 0.4);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.body h1 {
    line-height: 26px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.body span {
    color: #A58861;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #191A1E;
}

.carousel-control-prev {
    left: 20px;
}

.carousel-control-next {
    position: relative;
    top: 15px;
    bottom: 0;
    left: -55%;
    float: right;
    display: flex;
    align-items: center;
    width: 15%;
    height: 15%;
    color: #fff;
    text-align: center;
    opacity: 1;
    transition: opacity .15s ease;
    padding: 22px;
    padding-left: 30px;
    padding-right: 30px;
}

.carousel-control-prev {
    position: relative;
    top: 15px;
    bottom: 0;
    left: -6.5%;
    float: left;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    height: 15%;
    color: #fff;
    text-align: center;
    opacity: 1;
    transition: opacity .15s ease;
    padding: 22px;
    padding-left: 30px;
    padding-right: 30px;
}

.carousel-control-next:hover .expands {
    transform: translate(60%, 00%);
    transition: 0.2s;
}

.carousel-control-prev:hover .expands {
    transform: translate(-60%, 00%);
    transition: 0.2s;
}

.work .jumbotron {
    transition: 0.3s;
    background-color: #fff;
    margin-left: 20px;
}

.work {
    margin-bottom: 150px;
}

.work .jumbotron:hover {
    transform: translate(0%, -10%);
    transition: 0.2s;
    background-color: beige;
    box-shadow: 0 20px 50px rgba(0, 0, 255, 0.1);
}

.work .jumbotron .col-6 {
    float: left;
    text-align: center;
}

.work .jumbotron {
    margin-top: 40px;
    background-color: beige;
    text-align: center;
    padding-bottom: 90px;
    box-shadow: 0 20px 50px rgba(0, 0, 255, 0.2);
}

.work .jumbotron h1 {
    color: #618D96;
    padding-top: 10%;
    padding-bottom: 5%;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

.work {
    padding-top: 50px;
}

.bd {
    margin-left: 20%;
}

.hex h1 {
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 50px;
}