.heading {
    padding-left: 40%;
}

h3 {
    color: rgba(25, 26, 30, 0.4);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

span {
    color: #A58861;
}

h1 {
    line-height: 26px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
}

.top {
    margin-top: 10%;
}

.top .col-lg-8 {
    background-color: #191a1e;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
}

.top .col-lg-4 {}

.top .row {
    margin-top: 50px;
    margin-bottom: 50px;
}

.top .col-lg-8 h1 {
    color: white;
}

.col-lg-8 h4 {
    color: #A58861;
    font-size: 18px;
    padding-top: 5px;
}

.col-lg-8 h3 {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding-top: 30px;
    line-height: 30px;
}

.white {
    background-color: white;
}

.about-bottom-bar {
    background: #F1F1F2;
    width: 100%;
    position: absolute;
    height: 10%;
    background: red;
    bottom: 0;
    left: 0;
    top: 50%;
}

.plane:hover i {
    transform: skewy(25deg);
    transition: 0.2s;
}

.body {
    background-color: #f1f1f2;
}

.body H4 {
    padding-top: 230px;
    text-align: center;
    color: #A58861;
    font-size: 18px;
}

.body h1 {
    padding-top: 20px;
    font-size: 22px;
    text-align: center;
}

.lowerbody {
    background: #F1F1F2 center no-repeat;
    background-size: cover;
    max-height: 150px;
}

.lowerbody h4 {
    color: #A58861;
    font-size: 18px;
    padding-bottom: 30px;
}

.lowerbody .row {
    margin: 1px;
}

.lowerbody .col-lg-4,
.col-lg-3 {
    padding: 0px;
    background-color: #191a1e;
    border: 10px;
    border-color: white;
}

.skills h4 {
    color: #A58861;
    font-size: 18px;
    padding-bottom: 30px;
    text-align: center;
    padding-top: 40px;
}

.skills h1 {
    font-size: 22px;
    text-align: center;
}

.cross {
    padding-top: 10px;
    padding-right: 100px;
    color: black;
    float: right;
    font-size: 40px;
    transform: skewy(25);
}

.btn {
    height: 60px;
    background: black;
    color: white;
    display: inline-block;
    padding: 30px 55px 30px 40px;
    line-height: 0px;
    border-radius: 30px;
    border-color: black;
    position: relative;
    transition: .2s;
    font-family: 'Silka-Medium', sans-serif;
}

.btn:hover {
    background: black;
    border-color: #191A1E;
}

.expands {
    opacity: .5;
    position: absolute;
    display: inline-block;
    transform: translate(0, -50%);
    margin-left: 10px;
}

.btn:hover .expands {
    transform: translate(60%, -50%);
    transition: 0.2s;
    color: white;
}

#iconic {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#iconic ul {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
}

#iconic ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 30px;
    transform: rotate(-30deg) skew(25deg);
    background: #ccc;
}

#iconic li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px!important;
}

#iconic li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
}

#iconic li:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: .8;
}

#iconic li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: .6;
}

#iconic li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: .4;
}

#iconic li:hover span:nth-child(1) {
    transform: translate(0 0);
    opacity: .2;
}

#iconic li:nth-child(1) span {
    background: #0077b5;
}

.style-one {
    width: 30%;
}

#iconic ul {
    margin-bottom: 1px;
}

footer .container {
    background-color: #2c2c2c;
    padding-top: 20px;
    padding-bottom: 20px;
}